body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.about-us {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}

.social-link a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
    font-size: 24px;
}

.btn {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.row {
    display: flex;
    justify-content: space-between;
}

.flex img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.social-link,
.btn {
    margin-top: 20px;
}
