body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.maindiv {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  position: relative;
  color: white;
  background-image: url("./assets/images/blurimage.jpg");
  background-size: cover;
}

.subdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 10px;
}

.subdiv p {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

.subdiv h1 {
  font-size: 3.9rem;
  font-weight: 600;
  margin: 0;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

.subdiv button {
  border: none;
  outline: none;
  background-color: #70c72d;
  color: #fff;
  font-size: 1rem;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  padding: 15px;
}

.subdiv a {
  padding: 67px;
}

.buttondiv a {
  color: white;
  text-decoration: none;
  text-underline: none;
}

.img-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 60px;
}

.img-div img {
  max-width: 70%;
  height: auto;
  border-radius: 20px;
}

.buttondiv {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.green {
  color: #70c72d;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

#carouselExampleControls {
  max-width: 50%;
  margin: 0 auto;
}

/* size of carousel images */
.carousel-inner .carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  padding: 40px;
  margin: 20px;
}
.emoji-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 999;
}

/* Styles for individual emojis */
.emoji {
  font-size: 2rem;
  opacity: 0;
  position: absolute;
  animation: emoji-fall 2s linear infinite;
  cursor: pointer;
}

@keyframes emoji-fall {
  0% {
    opacity: 1;
    transform: translateY(-40vh) scale(1); /* Start from the top */
  }
  100% {
    opacity: 0;
    transform: translateY(100vh) scale(0);
  }
}

@keyframes emoji-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes emoji-hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}